.course{
    margin-top:  $mg-2;
    .course__content{
        width: 80%;
        margin:auto;
            .course__intro{
                padding-top: $pd-2;
                h2{
                    @include styleText($color-black-0, $fs-4, $fw-normal);
                }
            }
            .myTabs{
                .nav{
                    justify-content: space-between;
                    border: none;
                    .nav-item{
                        &:hover{
                            .nav-link{
                              border: none;  
                            }
                        }
                        .nav-link.active{
                            border: none;
                            border-bottom: 5px solid $color-blue;
                        }
                        .nav-link{
                            @include styleText($color-black-0,$fs-0,$fw-bold-1);
                            border:  none;
                        }
                    }
                    
                }
                .tab-content{
                    margin-top: $mg-2 ;
                    position: relative;
                .card-title{
                    @include styleText($color-black-0,$fs-0,$fw-bold); 
                }
                .card-text{
                    @include styleText($color-gray-4,$fs-1,$fw-normal);
                }
                .rating{
                    display: flex;
                    .rating__star{
                        @include styleText($color-yellow,$fs-1,$fw-normal);
                        margin-right: $mg-0;
                    }
                    span:nth-child(2){
                        @include styleText($color-gray-4,$fs-1,$fw-bold);
                        margin-right: $mg-0;
                    }
                    span:last-child{
                        @include styleText($color-gray-4,$fs-1,$fw-normal);
                    }
                }
                .price{
                    text-align: right;
                    .oldPrice{
                        @include styleText($color-gray-4,$fs-1,$fw-normal);
                        text-decoration: line-through;
                    }
                    .newPrice{
                        @include styleText($color-black-0,$fs-0,$fw-bold);
                    }
                }
            }
        }
    } 
}